Source: ralt-awesome
Maintainer: Florian Margaine <florian@margaine.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: ralt-awesome
Architecture: any
Depends: ${misc:Depends}, xorg, awesome, awesome-extra, wicd, wicd-gtk, xautolock, python3-pyxtrlock
Description: my awesome configuration
